.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-image: url(./Pictures/BG-design.gif);
  background-size: cover;
  width: 100%;
  height: 675px;
  background-position: top;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: space-around; */
  /* background-image: url(Background.gif); */
  /* background-color: chartreuse; */
  /* background: url(Background.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.homepage-box {
	border-radius: 25px;
  
  border: 1px solid black;
  width: 40%;
  height: 15%;
  background-color: lightgreen;
  /* display: inline-flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 10px;
  
  cursor: pointer;
}

.animals {
  align-self: center;
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 50px;
}

.dog-bark {
  position: relative;
  height: 200px;
  width: auto;
  top: 250px;
  right: 400px;
}

.cat {
  position: relative;
  bottom: 5px;
  right: 100px;
}

.bee {
  position: relative;
  bottom: 300px;
  right: 350px;
  height: 75px;
  width: auto;
  margin: auto;
}

.bird {
  position: relative;
  right: 180px;
}

#home-puzzle {
  background-image: url(./Pictures/Puzzle.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: cover;
}

#home-quiz {
  background-image: url(./Pictures/Quiz.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

#home-alpha {
  background-image: url(https://cf.ltkcdn.net/boardgames/images/std/50630-425x282-LetterJumble.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

#home-flash {
  background-image: url(./Pictures/Flash.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

#home-score {
  background-image: url(./Pictures/medal.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: cover;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.homepage-box:hover{
  animation: bounce 1s;
}

img {
  height: 14em;
  width: 14em;
}

.quiz-qu {
  padding-top: 15px;
}

.options {
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 3px;
  margin: 6px;
  border: 1px solid black;
  background-color: white;
}

.selected {
  border: 5px solid rgb(255, 0, 0);
  /* background-color: red; */
}

.container {
  max-width: 900px;
  margin: 1rem 2rem;
}

.full-flashcard {
  background-image: url(./Pictures/large-fc.png);
  background-size: cover;
  width: 100%;
  height: 675px;
  /* background-position: top; */
}

.card-grid {
  margin: 1rem 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  /* background-color: white; */
  transform-style: preserve-3d;
  height: 200px;
  width: 270px;
  margin: 10px;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(202, 8, 8, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.deleteBtn {
  position: absolute;
  top:0;
  right:0;
}

.editBtn {
  position: absolute;
  bottom:0;
  right:0;
}

.flash-img {
  height: 50%;
  width: 100%;
}

.login-form {
  width: 40%;
  margin: auto;
  padding-top: 5em;
}

.puzzle-container {
  background-image: url(https://i.pinimg.com/originals/b3/82/f6/b382f6ced3915eb59b5b640ac6fd7b29.jpg);
  background-size: cover;
  width: 100%;
  height: 675px;
  background-position: top;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.puzzle {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  background-color: white;
}

.puz-change {
  margin: 4px;
  margin-top: 15px;
  border: solid black 1px;
  display: inline-flex;
}

.puz-change img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.puz-message {
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
  /* display: inline-block; */
}

.puz-btn {
  margin: auto;
  margin-top: 20px;

}

.timer {
  justify-content: center;
  align-content: center;
  border: 3px solid red;
  background-color: white;
  margin: auto;
  position: relative;
  width: 200px;
  border-radius: 25px;
}

.alphabet {
  width: 70%;
  height: auto;
}

.navImg {
  height: 60px;
}

.log-btn {
  margin: 5px;
}

.speech-controls {
  margin: 10px;
}

.qu-button {
  margin-top: 25px;
}

.result {
  padding-top: 20%;
}

.notice-container {
  display: flex;
  justify-content: space-around;
}

.puzzle-score {
  border: 1px solid black;
  width: 30%;
  margin-top: 15px;
  border-radius: 25px;

  background-image: url(./Pictures/Puzzle.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: cover;
}

.quiz-score {
  border: 1px solid black;
  width: 30%;
  margin-top: 15px;
  border-radius: 25px;

  background-image: url(./Pictures/Quiz.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.alphabet-score {
  border: 1px solid black;
  width: 30%;
  margin-top: 15px;
  border-radius: 25px;

  background-image: url(https://cf.ltkcdn.net/boardgames/images/std/50630-425x282-LetterJumble.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

.notices {
  margin: 2px;
}

.quiz-bg {
  background-image: url(https://www.headfirstevents.com/wp-content/uploads/2013/05/question-mark-background-vector.jpg);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: cover;
  width: 100%;
  height: 675px;
  background-position: top;
}

/* .puzzle-notice {
  display: flex;
  text-align: left;
  flex-direction: column;
} */

/* .next-qu {
  background-color: white;
  color: black;
  border: 2px solid green;
  transition-duration: 0.4s;
}

.submit-qu {
  background-color: white;
  color: black;
  border: 2px solid red;
  transition-duration: 0.4s;
}

.return-home {
  background-color: white;
  color: black;
  border: 2px solid blue;
  transition-duration: 0.4s;
}

.next-qu:hover {
  background-color: green;
  color: white;
}

.submit-qu:hover {
  background-color: red;
  color: white;
}

.return-home:hover {
  background-color: blue;
  color: white;
} */


/* .login-container {
  background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-image: url(https://www.irishtimes.com/polopoly_fs/1.4068289.1572538782!/image/image.jpg_gen/derivatives/box_620_330/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 95vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 30%;
  padding-right: 30%;
} */

/* .bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

